.login-screen {
    background-image: url(../images/RESTAURANTE_BACKGROUND_ASSET.jpg);
    /* background-color: #524034; */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.login-screen > div:first-child {
    display: flex;
    align-items: center;
    height: 100%;
    overflow-y: auto;
}

.login-container {
    margin: 0px auto;
    padding: 1.5rem !important;
    background-color: #fff;
}

.login-container h4 {
    color: #22214F;
    font-weight: bolder;
    text-align: center;
}

.login-container .btn-large {
    background-color: #ef4a4a;
}
