.collapsible-product {
    padding: 1rem;
    background-color: #eceef1;
}

.row-product  {
    padding: 1rem;
}

.row-product img {
    width: 100%;
    max-width: 250px;
    height: auto;
}

.row-product div:first-child {
    text-align: center;
}

.row-product div:nth-child(3) {
    padding-top: 3px;
    text-align: center;
}

.product-price-description p:first-child {
    font-weight: bold;
}

.product-price-description p:last-child {
    color: #1d264c;
    font-weight: 500;
}

@media screen and (min-width: 600px) {
    .row-product {
        display: flex;
        align-items: center;
    }

    .row-product div:nth-child(3) {
        padding-top: unset;
    }
}
