.loader-content {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
}
section.loader-msg {
    width: 100%;
    text-align: center;
    color: white;
    margin-top: 50px;
}

section.loader-msg > p {
    margin-top: 15px;
}
