html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


html, body {
    display: block;
    position: relative;
    height: 100%;
}

#root {
    height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
    background-color: #1D264C;
}

.parrot-container {
    background-color: #ef4a4a;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
    top: 64px;
    overflow-y: auto;
}

.collapsible-header {
    color: #1d264c;
    font-size: 22px;
}

span.badge {
    color: #ef4a4a;
}

p.error-general {
    color: #ef4a4a;
    font-weight: 500;
    text-align: center;
}

/*
    Buttons
*/

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #59bfa0;
}

@media screen and (min-width: 600px) {
    .parrot-container {
        top: 56px;
    }
}
